/* common */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #6200ee;
  --black: #0a0a0a;
  --blackDim: #111111;
  --darkGray: #202020;
  --lightGray: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 10px;
  color: white;
}

a {
  font-size: 1.4rem;
  display: inline-block;
}

span {
  display: inline-block;
  font-size: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

p {
  font-size: 1.6rem;
}

ul li {
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
  margin: 0 0 1rem;
}

h4 {
  font-size: 2rem;
  margin: 0 0 1rem;
}

h5 {
  font-size: 1.6rem;
}

.btn {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary);
  padding: 1rem 3rem;
  border: 1px solid var(--primary);
  border-radius: 0.4rem;
  margin: 4rem 0 0;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--primary);
  color: white;
  transition: 0.5s;
}

.highlight {
  color: var(--primary);
}

.heading {
  margin: 0 0 4rem;
}

.form_control {
  width: 100%;
  font-size: 14px;
  padding: 12px 20px;
  color: var(--darkGray);
  font-weight: 600;
  caret-color: var(--primary);
  border: none;
  outline: none;
  border-radius: 0.4rem;
  resize: none;
}
/* \common */

/* main */
main {
  width: 100%;
}
/* header */
header {
  width: 25%;
  height: 100%;
  position: fixed;
  padding: 4rem 2rem;
  background-color: var(--blackDim);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* \header */

/* pages */
.pages {
  width: 75%;
  height: 100vh;
  margin: 0 0 0 25%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.pages > section {
  width: 100%;
  height: 100vh;
  padding: 0 6rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: 1s;
}

.pages > section > .section_in {
  width: 100%;
  transition: 1.1s;
}

.pages section:nth-child(odd) {
  background-color: black;
}

.pages section:nth-child(even) {
  background-color: var(--black);
}

.pages .home {
  justify-content: center;
  text-align: center;
}
/* \pages */
/* /main */

/* header */
header .logo h1 {
  font-family: "Kaushan Script";
  font-size: 4rem;
  color: white;
}

header .menu {
  display: grid;
  row-gap: 1.2rem;
}

header .menu a {
  font-size: 2.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

header .menu_item.active a {
  color: var(--primary);
}

header .menu a:hover {
  color: var(--primary);
  transition: 0.5s;
}
/* \header */

/* pages */
/* home */
.home .section_in {
  max-width: 400px;
}

.home .pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4px solid var(--primary);
  margin: 0 auto 3rem;
}

.home h2 {
  margin: 0 0 1.4rem;
}

.home h2 span {
  color: var(--primary);
  position: relative;
}

.home h2 span::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 3px;
  height: 100%;
  transform: scale(70%);
  background-color: var(--primary);
  animation: cursor_blink 0.3s steps(2) infinite;
}

@keyframes cursor_blink {
  0% {
    visibility: hidden;
  }
}

.home img {
  height: 100%;
  border-radius: 50%;
}

.home .social_links {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin: 3rem 0 0;
}

.home .social_links li a {
  width: 4.5rem;
  height: 4.5rem;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.home .social_links li a:hover {
  background-color: white;
  border-color: white;
  transition: 0.5s;
}

.home .social_links li i {
  font-size: 1.6rem;
  color: var(--primary);
  transition: 0.5s;
}

.home .social_links li a:hover i {
  color: var(--black);
  transition: 0.5s;
}
/* \home */

/* about */
.about .bottom {
  display: flex;
  column-gap: 5rem;
}

.about .bottom .pic {
  width: 35%;
  height: 350px;
}

.about .bottom .right {
  width: 65%;
}

.about .bottom .info {
  margin: 3rem 0 0;
  display: grid;
  row-gap: 1.5rem;
  font-size: 1.6rem;
}

.about .bottom .info li {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 30% 70%;
}

.about .bottom .info li .value {
  display: flex;
  column-gap: 0.5rem;
  font-size: inherit;
}
/* \about */

/* interest */
.interest .cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.interest .col {
  text-align: center;
  padding: 2rem 3rem;
  border: 0.5px solid white;
  border-radius: 1rem;
  transition: 1s;
}

.interest .col:hover {
  transform: scale(1.1);
  transition: 1s;
}

.interest .col i {
  font-size: 2rem;
  color: var(--primary);
  margin: 0 0 1rem;
}

.interest .col p {
  font-size: 1.4rem;
}
/* \interest */

/* timeline */
.timeline .bottom {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  position: relative;
}

.timeline .bottom::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: white;
  left: 50%;
  transform: translate(-50%, 0) scale(75%);
}

.timeline .bottom .col {
  width: 45%;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  background-color: var(--blackDim);
  border-radius: 1rem;
  position: relative;
}

.timeline .bottom .col::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  border: 2px solid white;
  border-radius: 50%;
  right: -14%;
  top: 50%;
  transform: translate(0, -50%);
}

.timeline .bottom .col:nth-child(even)::after {
  left: -14.5%;
}

.timeline .col::before {
  content: "";
  height: 1px;
  width: 11%;
  background-color: wheat;
  position: absolute;
  right: -12%;
}

.timeline .col:nth-child(even)::before {
  left: -12%;
}

.timeline .col:nth-child(odd) {
  border-right: 4px solid var(--primary);
}

.timeline .col:nth-child(even) {
  border-left: 4px solid var(--primary);
  grid-template-columns: 30% 70%;
  justify-self: flex-end;
}

.timeline .col:nth-child(odd) .left_col {
  border-right: 1px solid var(--darkGray);
}

.timeline .col:nth-child(even) .left_col {
  order: 2;
  border-left: 1px solid var(--darkGray);
}

.timeline .col .left_col {
  padding: 2rem;
}

.timeline .col .right_col {
  padding: 2rem;
  text-align: center;
}

.timeline .col h5 {
  font-size: 1.8rem;
  margin: 0 0 0.6rem;
}
/* \timeline */

/* portfolio */
.portfolio .menuList {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.portfolio .menuList .portfolioMenu {
  font-weight: 500;
  padding: 1rem 2rem;
  border: 1px solid var(--primary);
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.5s;
}

.portfolio .menuList .portfolioMenu:hover {
  background-color: var(--primary);
  transition: 0.5s;
}

.portfolio .menuList .portfolioMenu:first-child {
  background-color: var(--primary);
}

.portfolio .portfolioMenuContent:not(:first-child) {
  display: none;
}

.portfolio .portfolioMenuContent {
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
}
/* \portfolio */

/* contact */
.contact .bottom .textFields{
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
}

.contact .textFields .form_group:first-child{
  grid-column:  span 2;
}

.contact .textFields .form_group:nth-child(2){
  grid-column: 3 / span 4;
}

.contact .textFields .form_group:nth-child(3){
  grid-column: span 6;
}

.contact .textFields .form_group:nth-child(4){
  grid-column: span 6;
}

.contact form .btnGroup {
  margin: 3rem 0 0;
  text-align: center;
}

.contact form .btnGroup .btn{
  margin: 0;
  background-color: transparent;
}

.contact form .btnGroup .btn:hover{
  background-color: var(--primary);
  transition: 0.5s;
}
/* contact */
/* \pages */
