

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: unset;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--c-black);
    font-family: var(--font-regular); 
    font-size: 1.4rem;
    color: var(--c-gray-60);
    line-height: 1.3;
    text-align: left;
}

button, input, textarea { 
    font-size: 14px; 
    font-family: var(--font-regular);
    text-align: left; 
    color: inherit; 
}

a { text-decoration: none; color: var(--c-link); cursor: pointer; }
p { font-size: 1.6rem; }
ul li { list-style: none; }


